#title {
    background-color: black;
    color: white;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

.alert-text {
    color: blue;
}

.list,
.steps {

    background-color: pink;
    color: blue; 
} 
   
